{% extends 'layout.html' %}
{% block body %}
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="https://liberty3000.com/">
                    <img src="{{ url_for('static', filename='img/lion-banner.1.png') }}" alt="banner-ad-here" height="125">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe width="560" height="315" src="{{ embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</main>
{% endblock %}
