[Unit]
Description=Gunicorn instance to serve {{ app_name }}
After=network.target

[Service]
User={{ ansible_ssh_user }}
Group=www-data
WorkingDirectory=/home/{{ ansible_ssh_user }}/{{ app_name }}/html
EnvironmentFile=/etc/environment
Environment="PATH=/home/{{ ansible_ssh_user }}/{{ app_name }}/html/env/bin"
ExecStart=/home/{{ ansible_ssh_user }}/{{ app_name }}/html/env/bin/gunicorn \
        --workers 3 \
        --bind 127.0.0.1:8000 \
        {{ wsgi_path }}:application \
        --log-level DEBUG \

[Install]
WantedBy=multi-user.target
