## homepage
server {
    listen 80;
    listen 443 ssl;
    server_name {{ hostname }};
    index index.html;
    
    location / {
        root {{ nginx_build_path }};
        try_files $uri /index.html;
    }
}

{% for item in subdomains %}
## {{ item.key }}.{{ hostname }}
server {
    listen 80;
    listen 443 ssl;
    server_name www.{{ item.key }}.{{ hostname }} {{ item.key }}.{{ hostname }};
    return 301 $scheme://{{ item.value }}$request_uri;
}

{% endfor %}
