## preview
server {
    listen 80;
    server_name {{ hostname }};
    index index.html;
    
    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:8000/;
    }
}

{% for item in subdomains %}
## {{ item.key }}.{{ hostname }}
server {
    listen 80;
    server_name www.{{ item.key }}.{{ hostname }} {{ item.key }}.{{ hostname }};
    return 302 $scheme://{{ item.value }}$request_uri;
}

{% endfor %}
