body {
    padding-top: 50px;
    color: #ffffff;
}

.row {
    margin-top: 10px;
}
  
.col {
    padding: 10px;
    text-align: center;
}

.navbar {
    background: linear-gradient(to bottom, rgba(10, 5, 11, 100) 90%, rgba(0,0,0,0) 100%);
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}

.content {
    /* this is needed or the background will be offset by a few pixels at the top */
    overflow: auto;
    position: relative;
}

.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-image: url('../img/splash.jpg');
    background-size:cover;
    width: 100%;
    height: 100%;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

    filter: grayscale(40%);
}

.glow {
    outline: none;
    border: none;
}

.glow:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

iframe {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
}

iframe:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 35px #9ecaed;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
