body {
    padding-top: 50px;
}

.row {
    margin-top: 10px;
}
  
.col {
    padding: 10px;
    text-align: center;
}

.navbar {
    /* background-color: white; */
    background: linear-gradient(to bottom, rgb(230, 230, 230) 0%, rgba(0,0,0,0) 100%);
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
